.feed{
	width: 45vw;
	background: none;
}

.acceuil{
	height: 10%;
	border: 2px solid rgb(6, 1, 75);
	border-top: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

.acceuil h1{
	width: auto;
	font-weight: lighter;
}

.input-post{
	background: none;
	border: none;
}